	#aba 
	{
		float:left;
		width:102%;
		font-size: 10px;
		font-weight: bold;
		font-family:  Tahoma, Arial,"MS Sans Serif";
		text-transform:uppercase;  
		padding-left: 10px;
		background: url("../img/aba/aba_bg_azul.gif") repeat-x bottom;
		line-height:normal;
	}
	#aba ul
	{
		margin: 0;
		list-style: none;
		padding-top: 3px;
	}
	#aba li 
	{
		float:left;
		margin:0;
		cursor: pointer;
		height: 30px;
	}
	#aba span 
	{
		float:left;
		display:block;
		background:url("../img/aba/aba_right_azul.gif") no-repeat right top;
		padding:9px 15px 4px 15px;
		text-decoration:none;
		font-weight:bold;
		color:#94C1E8;
	}
	#aba .abaSelecionada span 
	{
		background-image:url("../img/aba/aba_right_on_azul.gif");
		color:#FFFFFF;
		padding-top:10px;
		padding-bottom:5px;
	}
	
	
/******************************/

	#aba2 
	{
		margin-top: -6px;
		float:left;
		width:102%;
		font-size: 10px;
		font-weight: bold;
		font-family:  Tahoma, Arial,"MS Sans Serif";
		text-transform:uppercase;  
		padding-left: 10px;
		background: url("../img/aba_bg_verde2.gif") repeat-x bottom;
		line-height:normal;
	}
	#aba2 ul
	{
		margin: 0;
		list-style: none;
		padding-top: 3px;
	}
	#aba2 li 
	{
		float:left;
		margin:0;
		cursor: pointer;
		height: 30px;
	}
	#aba2 span 
	{
		float:left;
		display:block;
		background:url("../img/aba_right_verde.gif") no-repeat right top;
		padding:9px 15px 4px 15px;
		text-decoration:none;
		font-weight:bold;
		color:#6FAE6F;
	}
	#aba2 .abaSelecionada span 
	{
		background-image:url("../img/aba_right_on_verde2.gif");
		color:#FFFFFF;
		padding-top:10px;
		padding-bottom:5px;
	}

/******************************/	
/******************************/

	#aba3 
	{
		margin-top: -6px;
		float:left;
		width:102%;
		font-size: 10px;
		font-weight: bold;
		font-family:  Tahoma, Arial,"MS Sans Serif";
		text-transform:uppercase;  
		padding-left: 10px;
		background: url("../img/aba_bg_verde3.gif") repeat-x bottom;
		line-height:normal;
	}
	#aba3 ul
	{
		margin: 0;
		list-style: none;
		padding-top: 3px;
	}
	#aba3 li 
	{
		float:left;
		margin:0;
		cursor: pointer;
		height: 28px;
	}
	#aba3 span 
	{
		float:left;
		display:block;
		background:url("../img/aba_right_verde.gif") no-repeat right top;
		padding:9px 15px 4px 15px;
		text-decoration:none;
		font-weight:bold;
		color:#6FAE6F;
	}
	#aba3 .abaSelecionada span 
	{
		float:left;
		display:block;
		background:url("../img/aba_right_verde.gif") no-repeat right top;
		padding:9px 15px 4px 15px;
		text-decoration:none;
		font-weight:bold;
		color:#000;
	}

/******************************/	
	
	.aba_definicao 
	{
		width:93%;
		position: absolute;
		margin:10px;
		z-index: 1;
	}
	.aba_conteudo
	{
		clear: both;
		text-align:left;
		width:96%;
		padding-top:15px;	
		padding-bottom:15px;	
		padding-left:15px;	
		padding-right:15px;	
		font-size: 10pt;
		font-family:   Arial, Verdana, "MS Sans Serif";		
	}